.jcarousel-skin-paperSkin .jcarousel-container {
    
    background: transparent;
    border: 0px;
}

.jcarousel-skin-paperSkin .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-paperSkin .jcarousel-container-horizontal {
    width: 847px;
    padding: 0px 56px;
}

.jcarousel-skin-paperSkin .jcarousel-clip-horizontal {
    width:  847px;
    height: 152px;
}

.jcarousel-skin-paperSkin .jcarousel-item {
    width: 202px;
    height: 152px;
    border: 0px;
}

.jcarousel-skin-paperSkin .jcarousel-item-horizontal {
    margin-left: 0px;
    margin-right: 13px;
}

.jcarousel-skin-paperSkin .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 13px;
	margin-right: 0;
}

.jcarousel-skin-paperSkin .jcarousel-item-placeholder {
}

/**
 *  Horizontal Button Next
 */
.jcarousel-skin-paperSkin .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 42px;
    height: 152px;
    cursor: pointer;
    background: transparent url(nextArrow.png) no-repeat 0 0;
}


.jcarousel-skin-paperSkin .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(previousArrow.png);
}


.jcarousel-skin-paperSkin .jcarousel-next-disabled-horizontal {
    cursor: default;
    background-position: -43px 0;
}

/*
 *  Horizontal Button Previous
 */
.jcarousel-skin-paperSkin .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 42px;
    height: 152px;
    cursor: pointer;
    background: transparent url(previousArrow.png) no-repeat 0 0;
}


.jcarousel-skin-paperSkin .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(nextArrow.png);
}


.jcarousel-skin-paperSkin .jcarousel-prev-disabled-horizontal {
    cursor: default;
    background-position: -43px 0;
}